{# app/Resources/views/Emails/registration.html.twig #}
<!-- <h3>Envio desde el Sistema de Viaticos</h3> -->

El funcionario(a) {{data.nombre}} ha generado una solicitud de viaticos
<br>
{{ "now"|date("d/M/Y H:i:s") }}
<br>
<!-- {{data.message}} -->
<br>