<div style="width: 90%; margin: auto;">    
	<a [routerLink]="['/cambiarclave']">

	<!-- <button [routerLink]="['/nueva_solicitud']">Generar una Nueva Solicitud</button> -->
		<div class="menu_conf pull-left">
			<div class="pull-left">		
			<img src="assets/images/menubar/cambio_clave.png" alt="cambiar clave" />        
			</div>
			<div class="pull-left" style="margin-left:10px; width:40%;">
				<div>
					<h5>Cambiar Clave</h5>
				</div>
				<div>Actualizar clave de acceso al sistema</div>
			</div>        
		</div> 
	</a>   
</div>