<div class="menuActivo">
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<button (click)="OnbotonAtras()">Atrás</button>
			<div>
				<button (click)="openPdf()">Open PDF</button>
			</div>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<p>Módulo actual: <span>{{titulo}}</span></p>
		</ul>
	</div>
</div>
<div class="FormularioActivo">
	<form (ngSubmit)="onEnviarSol()" #ComisionForm="ngForm">
		<div *ngIf="inicial == false && paso2 == false  && paso3 == false && paso4 == false">
			<div class="td2">
				<td>Fecha Solicitud:</td>
				<td>
				<input type="date" [(ngModel)]="Fecha_sol" [ngModelOptions]="{standalone: true}">
					<!-- <p-calendar [showIcon]="true" [locale]="es" [(ngModel)]="Fecha_sol" [ngModelOptions]="{standalone: true}" dateFormat="dd/mm/yy"></p-calendar> -->
				</td>
			</div>
			<table id="mytable" class="table2">
				<thead>
					<p><ins>Lugares de Comisión 1</ins></p>
				</thead>
				<tbody>
					<tr>
						<td class="td2">Fecha Inicio:</td>
						<td class="td2">
						<input type="date" [(ngModel)]="FechaDesde_solicitud" [ngModelOptions]="{standalone: true}">
							<!-- <p-calendar [style]="{'width':'auto'}" [showIcon]="true" [locale]="es" [(ngModel)]="FechaDesde_solicitud" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd"></p-calendar>  -->
						</td>
						<td class="td2">Hora Inicio:</td>
						<td class="td2">
						<input type="time" [(ngModel)]="HoraDesde_sol" [ngModelOptions]="{standalone: true}">
							<!-- <p-calendar [style]="{'width':'auto'}" [(ngModel)]="HoraDesde_sol" [timeOnly]="true" hourFormat="24" [ngModelOptions]="{standalone: true}"></p-calendar> -->
						</td>
						<td>-</td> 
						<td class="td2">Fecha Fin:</td>
						<td class="td2">
						<input type="date" [(ngModel)]="FechaHasta_solicitud" [ngModelOptions]="{standalone: true}">
							<!-- <p-calendar [style]="{'width':'auto'}" [showIcon]="true" [locale]="es" [(ngModel)]="FechaHasta_solicitud" [ngModelOptions]="{standalone: true}" dateFormat="yy-mm-dd"></p-calendar> -->
						</td>
						<td class="td2">Hora Fin:</td>
						<td class="td2">
						<input type="time" [(ngModel)]="HoraHasta_sol" [ngModelOptions]="{standalone: true}">
							<!-- <p-calendar [style]="{'width':'auto'}" [(ngModel)]="HoraHasta_sol" [timeOnly]="true" hourFormat="24" [ngModelOptions]="{standalone: true}"></p-calendar> -->
						</td>
					</tr>
				</tbody>
			</table>
			<table id="mytable" class="table2">
				<thead>
					<p><ins>Lugares de Comisión</ins></p>
				</thead>
				<tbody>
					<tr>
						<td class="td2">
							<form>
								<p-multiSelect id="ingresarCiudad" [options]="ciudad" [(ngModel)]="ciudades_sol_ini" [ngModelOptions]="{standalone: true}" dataType="string"></p-multiSelect>
							</form> 
						</td>
					</tr>
				</tbody>
			</table>
			<table id="mytable" class="table2">
				<thead>
					<p><ins>Comisionados</ins></p>
				</thead>
				<tbody>
					<tr>
						<td class="td2">
							<form>
								<p-multiSelect id="ingresarComisionado" [options]="persona" [(ngModel)]="funcionarios_sol_ini" [ngModelOptions]="{standalone: true}" dataType="string"></p-multiSelect>
							</form> 
						</td>
					</tr>
				</tbody>
			</table> 
			<button (click)="Onpaso2()">Actividades a Realizar</button>
		</div>
		<div *ngIf="inicial == true && paso2 == false  && paso3 == false && paso4 == false">
			<table id="mytable" class="table2">
				<thead>
					<p><ins>Actividades a realizar</ins></p>
				</thead>
				<tbody>
					<tr>
						<td>
							<p-editor id="editor" [(ngModel)]="comision.actividadessol" [style]="{'height':'320px'}" [ngModelOptions]="{standalone: true}">
								<header>
									<span class="ql-formats" style="text-align: center; width: 100%;">
										<table id="tabla_toolbar">
											<tr>
												<td>Estilo</td>
											</tr>
											<tr>
												<td>
													<span class="ql-formats">
														<button class="ql-bold"></button>
														<button class="ql-italic"></button>
														<button class="ql-underline"></button>
													</span>
												</td>
											</tr>
										</table>
										<table id="tabla_toolbar">
											<tr>
												<td>Tamaño</td>
											</tr>
											<tr>
												<td>
													<select class="ql-size">
														<option selected></option>
														<option value="large">Titulo</option>
													</select>
												</td>
											</tr>
										</table>
										<table id="tabla_toolbar">
											<tr>
												<td>Alineación</td>
											</tr>
											<tr>
												<td style="text-align: center;">
													<span class="ql-formats">
														<button class="ql-align"></button>
														<button class="ql-align " value="center"></button>
														<button class="ql-align" value="justify"></button>
													</span>
												</td>
											</tr>
										</table>
										<table id="tabla_toolbar">
											<tr>
												<td>Ordenamiento</td>
											</tr>
											<tr>
												<td style="text-align: center;">
													<span class="ql-formats">
														<button class="ql-list" value="bullet"></button>
														<button class="ql-indent" value="-1"></button>
														<button class="ql-indent" value="+1"></button>
													</span>
												</td>
											</tr>
										</table>
									</span>
								</header>
							</p-editor>
						</td>

					</tr>
				</tbody>
			</table> 
			<button (click)="Onpaso3()">Escoger Transporte</button>
		</div>
		<div *ngIf="inicial == true && paso2 == true && paso3 == false && paso4 == false">
			<p><ins>Escoger los transportes a requerir</ins></p>
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Tipo
						</th>
						<th style="width: 10%">Modelo
						</th>
						<th style="width: 20%">Ruta Inicio
						</th>
						<th style="width: 20%">Ruta Fin
						</th>
						<th style="width: 10%">Fecha Inicio
						</th>
						<th style="width: 10%">Fecha Fin
						</th>
						<th style="width: 10%">Agregar Ruta
						</th>
					</tr>
				</thead>
				<tbody id="tbody_trareq">
					<tr>
						<td style="width: 11.25%">
							<select id="combo_tiptra" (change)="onSelect()" (change)="onCambiarModelTra()">
								<option [value]="0">Escoja uno</option>
								<option *ngFor="let tipodetransporte of tipotra" [value]="tipodetransporte.val">
									{{tipodetransporte.name}}
								</option>
							</select>
						</td>
						<td style="width: 11.25%">
							<select id="combo_vehiculo" *ngIf="modeltrans == false" >
								<option [value]="0">Escoja uno</option>
							</select> 
							<select id="combo_vehiculo" *ngIf="modeltrans == true" >
								<option *ngFor="let modelotransporte of modeltra" [value]="modelotransporte.tiptraNombre">
									{{modelotransporte.tiptraNombre}}
								</option>
							</select> 
						</td>
						<td style="width: 11.25%">
							<p-dropdown [style]="{'width':'auto'}" [options]="ciudadtra" [(ngModel)]="RinicioTrans" [filter]="true" [ngModelOptions]="{standalone: true}">
							</p-dropdown>
						</td>
						<td style="width: 11.25%">
							<p-dropdown [style]="{'width':'auto'}" [options]="ciudadtra" [(ngModel)]="RfinTrans" [filter]="true" [ngModelOptions]="{standalone: true}">
								<div class="ui-helper-clearfix" style="position: relative;height: 12px;">
									<div id="RfinTrans" style="font-size:10px;float:right;margin-top:1px">{{ciudadtra.label}}</div>
								</div>
							</p-dropdown>
						</td>
						<td style="width: 22.50%">
							<p-calendar [style]="{'width':'100%'}" [showIcon]="true" [locale]="es" [showTime]="true" [(ngModel)]="FinicioTrans" [ngModelOptions]="{standalone: true}"></p-calendar>
						</td>
						<td style="width: 22.50%">
							<p-calendar [style]="{'width':'100%'}" [showIcon]="true" [locale]="es" [showTime]="true"  [(ngModel)]="FfinTrans" [ngModelOptions]="{standalone: true}"></p-calendar>
						</td>
						<td  style="width: 10%">
							<a class="btn btn-success btn-xs glyphicon glyphicon-plus" (click)="OnAgregarTraReq()">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none; text-align: right;">
		<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
		<input #gb1 type="text" pInputText size="25" placeholder="Buscar">
	</div>
	<p-dataTable id="tbody_trareq_dialog" [value]="transporteSol" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb1">
		<p-column [style]="{'width':'11.25%'}" field="tratipo" header="Tipo" [ordered]="true" [sortable]="false" ></p-column>
		<p-column [style]="{'width':'11.25%'}" field="tramodelo" dateformat="yyyy-MM-dd" header="Modelo"  [sortable]="false"></p-column>
		<p-column  [style]="{'width':'11.25%'}" field="trarutaInicio" header="Ruta Inicio" [sortable]="false"></p-column>
		<p-column [style]="{'width':'11.25%'}" field="trarutaFin" header="Ruta Fin" [sortable]="false"></p-column>
		<p-column [style]="{'width':'11.25%'}" field="trafechaInicio" header="Fecha Inicio" [sortable]="false"></p-column>
		<p-column [style]="{'width':'11.25%'}" field="trafechaFin" header="Fecha Fin" [sortable]="false"></p-column>
		<p-column [style]="{'width':'11.25%'}" field="trahoraInicio" header="Hora Inicio" [sortable]="false"></p-column>
		<p-column [style]="{'width':'11.25%'}" field="trahoraFin" header="Hora Fin" [sortable]="false"></p-column>






		<p-column [style]="{'width':'10%'}" styleClass="col-button" header="Eliminar">
			<template let-car="rowData" pTemplate="body">
				<!-- <button type="button" pButton (click)="findSelectedCarIndex(car)" icon="fa-eye" data-toggle="tooltip" data-placement="bottom" title="Index"></button> -->
				<button type="button" pButton (click)="delete(car)" icon="fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Ver"></button>
			</template>
		</p-column>
	</p-dataTable>
	


			<!-- <table *ngIf="mostrar_trareq === true">
				<thead id="TransporteReqEnc">
					<tr>
						<th style="width: 10%">Tipo
						</th>
						<th style="width: 10%">Modelo
						</th>
						<th style="width: 20%">Ruta Inicio
						</th>
						<th style="width: 20%">Ruta Fin
						</th>
						<th style="width: 10%">Fecha Inicio
						</th>
						<th style="width: 10%">Hora Inicio
						</th>
						<th style="width: 10%">Fecha Fin
						</th>
						<th style="width: 10%">Hora Fin
						</th>
						<th style="width: 10%">Eliminar
						</th>
					</tr>
				</thead>
			</table>
			<table class="table table-striped">
				<tbody id="tbody_trareq_dialog">
				</tbody>
			</table> -->
			<div class="pagination pull-CENTER">
				<button (click)="Onpaso4()">Ingresar Anexos y Fondos</button>
			</div>
		</div>
		<div *ngIf="inicial == true && paso2 == true && paso3 == true && paso4 == false">
			<div>
				<p><ins>Ingresar los fondos asignados</ins></p>
				<label>Cantidad del fondo asignado:</label>
					<input type="text" id="fonvalor" name="fonvalor" [(ngModel)]="fondovalor"/>
				<label>Descripción del fondo asignado:</label>
					<input type="text" id="fondes" name="fondes" [(ngModel)]="fondoobservacion"/>
			</div>
			<div>
				<p><ins>Adjuntar archivos</ins></p>
				<input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
				<div class="col-md-9" style="margin-bottom: 40px">
					<p>Cantidad de archivos a subir: {{ uploader?.queue?.length }}</p>
					<table class="table">
						<thead>
							<tr>
								<th width="50%">Nombre</th>
								<th>Estado</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of uploader.queue">
								<td><strong>{{ item?.file?.name }}</strong></td>
								<td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
								<td *ngIf="uploader.isHTML5">
									<div class="progress" style="margin-bottom: 0;">
										<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
									</div>
								</td>
								<td class="text-center">
									<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
									<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
									<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
								</td>
								<td nowrap>
									<button type="button" class="btn btn-success btn-xs"
									(click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
									<span class="glyphicon glyphicon-upload"></span> Subir
								</button>
								<button type="button" class="btn btn-warning btn-xs"
								(click)="item.cancel()" [disabled]="!item.isUploading">
								<span class="glyphicon glyphicon-ban-circle"></span> Cancelar
							</button>
							<button type="button" class="btn btn-danger btn-xs"
							(click)="item.remove()">
							<span class="glyphicon glyphicon-trash"></span> Quitar
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<div>
				Progreso:
				<div class="progress" style="">
					<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
				</div>
			</div>
			<button type="button" class="btn btn-success btn-s"
			(click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
			<span class="glyphicon glyphicon-upload"></span> Subir todos
		</button>
		<button type="button" class="btn btn-warning btn-s"
		(click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
		<span class="glyphicon glyphicon-ban-circle"></span> Cancelar todos
	</button>
	<button type="button" class="btn btn-danger btn-s"
	(click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
	<span class="glyphicon glyphicon-trash"></span> Quitar todos
</button>
</div>
</div>
</div>
<ul class="pagination pull-CENTER">
	<button (click)="onGuardarSol()">GUARDAR</button>
	<button (click)="Onpaso5()">ENVIAR</button>
	<button (click)="OnImprimirSol()">IMPRIMIR</button>
	<button (click)="OnCancelarSol()">CANCELAR</button>
</ul>
</div>
</form>
</div>