<!-- {{titulo}}
<div class="container" >
	<div class="content">
		<span>Congratulations, you have successfully logged in!!</span>
		<br />
		<a (click)="logout()" href="#">Click Here to logout</a>
	</div>
</div> -->
<div class="principalarriba">
	<div class="ultimosvuelos">
		<p>ultimos vuelosssss</p>
	</div>
	<div class="vuelospendientes">
		<p>vuelos pendientes</p>
	</div>
</div>
<div class="principalabajo">
	<div class="procesopago">
		<p>proceso pago</p>
	</div>
	<div class="informependiente">
		<p>informes pendiente</p>
	</div>
</div>