<div class="menuActivo">
	<div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<button [routerLink]="['/nuevo_usuario']">Crear Nuevo Usuario</button>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<p>Módulo actual: <span>{{titulo}}</span></p>
		</ul>
	</div>
</div>

<div class="title" style="display: none">
	<h1>prueba con jquery</h1>
</div>
<hr>
<div class="formulario_solicitud">
	<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none; text-align: right;">
		<i class="fa fa-search" style="margin:4px 4px 0 0"></i>
		<input #gb1 type="text" pInputText size="25" placeholder="Buscar">
	</div>
	<p-dataTable [value]="datoUsuarioMostrar" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb1">
		<p-column [style]="{'width':'20%'}" field="perNombre" header="NOMBRE" [ordered]="true" [sortable]="true" ></p-column>
		<p-column [style]="{'width':'20%'}" field="perApellido" dateformat="yyyy-MM-dd" header="APELLIDO"  [sortable]="true"></p-column>
		<p-column  [style]="{'width':'15%'}" field="perIdentificacion" header="IDENTIFICACION" [sortable]="true">
		</p-column>
		<p-column [style]="{'width':'35%'}" field="perCorreoelectronico" header="CORREO ELECTRONICO" [sortable]="true"></p-column>
		<p-column [style]="{'width':'10%'}" styleClass="col-button" header="ACCION">
			<template let-car="rowData" pTemplate="body">
				<button type="button" pButton (click)="toggleTitle()" icon="fa-eye" data-toggle="tooltip" data-placement="bottom" title="Editar"></button>
				<button type="button" pButton (click)="toggleTitle()" icon="fa-pencil" data-toggle="tooltip" data-placement="bottom" title="Eliminar"></button>
			</template>
		</p-column>
	</p-dataTable>
</div>