<div class="menuActivo">
	<div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<button [routerLink]="['/solicitud']">Regresar a Solicitud</button>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<p>Módulo actual: <span>{{titulo}}</span></p>
		</ul>
	</div>
</div>
<hr>
<!-- {{idSol}} -->
<!-- <solicitud>
{{equis_1}}
</solicitud> -->
<div>
	<div>
		<img src="assets/images/logo.png"  width="150" height="50" />
	</div>
	<div>
		<h5>SOLICITUD DE AUTORIZACION PARA CUMPLIMIENTO DE SERVICIOS INSTITUCIONALES</h5>
	</div>
</div>
<div>
	<table border="1">
		<tr>
			<td style="width: 50%" class="enc_sol">
				<p class="titulo_referencial">Nro.Solicitud de Autorización de servicios Institucionales</p>
				<p>{{solifecfun2.solIdsolicitud}}</p>
			</td>
			<td style="width: 50%" class="enc_sol">
				<p class="titulo_referencial">Fecha de Solicitud (dd-mm-aaaa):</p>
				<p>{{solifecfun2.solFecharealizacion}}</p>
			</td>
		</tr>
	</table>
	<table border="1">
		<tr>
			<td style="width: 20%"><p>VIATICOS</p></td>
			<td style="width: 5%"><p>{{equis.viaticos}}</p></td>
			<td style="width: 20%"><p>MOVILIZACIONES</p></td>
			<td style="width: 5%"><p>{{equis.movilizaciones}}</p></td>
			<td style="width: 20%"><p>SUBSISTENCIAS</p></td>
			<td style="width: 5%"><p>{{equis.subsistencias}}</p></td>
			<td style="width: 20%"><p>ALIMENTACION</p></td>
			<td style="width: 5%"><p>{{equis.alimentacion}}</p></td>
		</tr>
	</table>
	<br>
	<div class="titulo_sol">DATOS GENERALES</div>
	<table border="1">
		<tr>
			<td><p class="titulo_referencial">NOMBRES COMPLETOS DE LA O EL SERVIDOR:</p>
				<p>{{solifecfun2.perNombrecompleto}}</p>
				<p>{{solifecfun2.perIdentificacion}}</p>
			</td>
			<td>
				<p class="titulo_referencial">PUESTO QUE OCUPA:</p>
				<p>{{cardep2.carNombre}}</p>

			</td>
		</tr>
		<tr>
			<td>
				<p class="titulo_referencial">CIUDAD - PROVINCIA DEL SERVICIO INSTITUCIONAL:</p>
				<p *ngFor="let ciudadessolMostrar of ciudadessol">{{ciudadessolMostrar.ciu.ciuNombre}}-{{ciudadessolMostrar.ciu.prov.provNombre}}</p>
			</td>
			<td>
				<p class="titulo_referencial">NOMBRE DE LA UNIDAD A LA QUE PERTENECE LA O EL SERVIDOR:</p>
				<p>{{cardep2.depNombre}}</p>
			</td>
		</tr>
		<table border="1">
			<tr *ngFor="let estadosolMostrar of estadosol">
				<td>
					<p class="titulo_referencial">FECHA SALIDA (dd-mm-aa):</p>
					<p>{{estadosolMostrar.estsolFechasalida}}</p>
				</td>
				<td>
					<p class="titulo_referencial">HORA SALIDA (hh:mm):</p>
					<p>{{estadosolMostrar.estsolHorasalida}}</p>
				</td>
				<td>
					<p class="titulo_referencial">FECHA LLEGADA (dd-mm-aa):</p>
					<p>{{estadosolMostrar.estsolFechallegada}}</p>
				</td>
				<td>
					<p class="titulo_referencial">HORA LLEGADA (hh:mm):</p>
					<p>{{estadosolMostrar.estsolHorallegada}}</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p class="titulo_referencial">SERVIDORES QUE INTEGRAN LOS SERVICIOS INSTITUCIONALES:</p>
					<p *ngFor="let personasssolMostrar of personasssol">{{personasssolMostrar.per.perNombrecompleto}}</p>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<p class="titulo_referencial">DESCRIPCION DE LAS ACTIVIDADES A EJECUTARSE:</p>
					<div>
						<span [innerHTML]="estsolActividades"></span>
					</div>
				</td>

			</tr>
		</table>
		<br>
		<div>
			<div class="titulo_sol">TRANSPORTE</div> 
			<table class="tabla-modal"  border="1">
				<thead>
					<tr>
						<th>Tipo</th>
						<th>Ruta inicio</th>
						<th>Ruta fin</th>
						<th>Fecha salida</th>
						<th>Hora salida</th>
						<th>Fecha llegada</th>
						<th>Hora llegada</th>
					</tr>
				</thead>
				<tbody *ngFor="let transportessolMostrar of transportessol">
					<tr>
						<td>{{transportessolMostrar.tiptra.tiptraNombre}}</td>
						<td>{{transportessolMostrar.trasolRutainicio}}</td>
						<td>{{transportessolMostrar.trasolRutafin}}</td>
						<td>{{transportessolMostrar.trasolFechasalida}}</td>
						<td>{{transportessolMostrar.trasolHorasalida}}</td>
						<td>{{transportessolMostrar.trasolFechallegada}}</td>
						<td>{{transportessolMostrar.trasolHorallegada}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class="titulo_sol">DATOS PARA TRANSFERENCIA</div> 
		<table class="tabla-modal"  border="1">
			<tr>
				<td><p class="titulo_referencial">NOMBRE DEL BANCO:</p><p>{{bancosol2.banNombre}}</p></td>
				<td><p class="titulo_referencial">TIPO DE CUENTA:</p><p>{{bancosol2.banperTipocuenta}}</p></td>
				<td><p class="titulo_referencial">N° DE CUENTA:</p><p>{{bancosol2.banperNumerocuenta}}</p></td>
			</tr>
		</table>
		<br>
		<table class="tabla-modal"  border="1">
			<tr>
				<td>
					Firma de la o Servidor Solicitante
				</td>
				<td>
					Firma de la o el responsable de la unidad solicitante
				</td>
			</tr>
			<tr style="height: 50px">
				<td >
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<p class="titulo_referencial">Nombre de la o el servidor</p>
					<p class="firmado">Firmado Electrónicamente</p>
					<p>{{solifecfun2.perNombrecompleto}}</p>
					<p>{{cardep2.carNombre}}</p>
				</td>
				<td>
					<p class="titulo_referencial">Nombre de la o el responsable de la unidad solicitante</p>
					<p class="firmado">Firmado Electrónicamente</p>
					<p>{{cargojefesol2.perNombrecompleto}}</p>
					<p>{{cargojefesol2.carNombre}}</p>
				</td>
			</tr>
			<tr>
				<td>
					<tr style="height: auto">

						Firma de la Autoridad Nominadora o su delegado 
					</tr>
				</td>
				<td rowspan="3" style="width: 50%">
					<p class="titulo_referencial">NOTAS:</p>
					<ol class="notas_referencial">
						<li>
							Esta solicitud deberá ser presentada para su Autoriación, dentro de los tres(3) días plazo previo a la salida programada, salvo los casos de que por necesidad institucionales la Autoridad Nominadora autorice
						</li>
						<li>
							Está prohibido conceder servicios institucionale durante los días de descanso obligatorio, con excepción de las Máximas Autoridades, o en casos excepcionales debidamente justificados por la Máxima Autoridad o su Delegado
						</li>
						<li>
							De no existir disponibilidad presupuestaria, tanto la solicitud como la autorización quedarán insubsistentes
						</li>
					</ol>
					<p class="titulo_referencial">COMPROMISOS DEL SERVIDOR</p>
					<ul class="notas_referencial">
						<li>
							Por este medio, el servidor autoriza a que en los casos en que haya recibido anticipos en concepto viaticos y no haya liquidado una vez culminada la comisión de servicios, se le descuente de su próxima remuneración mensual unificada dichos valores.
						</li>
						<li>
							De igual modo, el servidor se obliga a restituir de forma inmediata los valores recibidos en concepto de anticipos de viáticos en los casos en que la comision haya sido suspendida; en caso de ho hacerlo, los valores acreditados en cuenta serán descontados de su próxima remuneración.
						</li>
						<li>
							El informe de Servicios Institucionales, conforme a la normativa vigente, deberá preentarlo dentro del término de cuatro(4) días posteriores a la finalización de la comisión de servicios.
						</li>
					</ul>
				</td>
			</tr>
			<tr style="height: 30%">
				<td>

				</td>
			</tr>
			<tr>
				<td>
					<tr>
						<p class="titulo_referencial">Nombre de la autoridad nominada o su delegado</p>
						<p class="firmado">Firmado Electrónicamente</p>
						<p>{{cargocotosol2.perNombrecompleto}}</p>
						<p>{{cargocotosol2.carNombre}}</p> 
					</tr>
				</td>
			</tr>
		</table>
		<br>
		</table>
	<!-- <button class="btn btn-primary">Cerrar</button>  -->
		<button class="btn btn-primary" (click)="OnRegresar1()">Cerrar</button>

	</div>

 